

body{
    background-color: #f5f8ff;
}
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: black;
    transition: 1s all ease-in-out;

}



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.secondary-width{
    max-width: 1140px;
    margin: 0 auto;
}

.secondary-header{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
    margin: 0px 0px 40px 0px;
}
/* nav styles start */
header{
    background-image: url("../images/Hero-bg.png");
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1140px; */
    /* margin: 0 auto; */
}
.nav-tittle{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}
nav li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;

}
/* nav styles end */



/* banner section start */
.banner-tittle{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    margin: 0px 0px 37px 0px;
}

.banner-content{
    max-width: 905px;
    margin: 0 auto;
    text-align: center;
    padding: 158px 0px;
}
/* banner section end */


/* action section start */
.action{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 106px 0px;
}

.action-contant{
    max-width: 517px;
    padding: 62.5px 0px;
}
.action-tittle{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    margin: 0px;
}

.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin: 23px 0px;
}

.action-image{
    width: 403px;
    border-radius: 48px;
}
/* action section end */


/* produstive user section start */
.produstive-user{
    margin-bottom: 147px;
}

.produstive-user-container{
    text-align: center;
    padding: 50px 80px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
}

.produstive-user-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produstive-user-tittle h2{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin: 0px;
    padding-bottom: 20px;
}

.produstive-user-tittle p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin: 0px;

}
/* produstive user section end */



/* review section start */
.review{
    margin-bottom: 137px;
}
.review-contant{
    display: flex;
    gap: 20px;
}

.review h2{
    text-align: center;
}

.review-name{
    display: flex;
    align-items: center;
    gap: 8px;
}
.review-name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-description h6{
    font-size: 15px;
    color: #757575;
    margin: 0px;
    padding-bottom: 4px;
}

.review-description p{
    margin: 0px 0px 0px 0px;
    color: #B3B3B3;
    font-size: 12px;
}

.review-contant-card{
    padding: 24px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);

}

.review-contant-card h4{
    font-size: 20px;
    margin: 24px 0px 13px 0px;

}

.review-contant-card p{
    font-size: 15px;

}
/* review section end */


/* focus section start */
.focus-content h2{
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}
.focus-content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    margin: 20px 0px;
}

.focus-image{
    margin-top: 20px;
}

.focus-image img{
    border-radius: 48px;
}

.focus-content{
    padding: 71px 150px;
    background-color: #ffffff;
    border-radius: 14px;
    text-align: center;
}
/* focus section end */



/* newsletter section start */
.newsletter{
    display: flex;
    justify-content: space-between;
    padding: 71px 0px;
}

.newsletter h2{
    font-size: 97px;
    font-weight: bold;
}

.newsletter form input[type="email"], form input[type="text"], form textarea{
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    width: 100%;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 10px 0px 19px 0px;
}

.same{
    font-size: 18px;
    font-weight: 600;
    
}

.submit-btn{
    padding: 19px 101px;
    width: 100%;
}

.newsletter-tittle{
    max-width: 528px;
}

.form-section{
    width: 497px;
}





/* footer section start */
footer{
    background-color: #FFFFFF;
}
.footer-container{
    max-width: 531px;
    margin: 0 auto;
    text-align: center;
    padding: 103px 0px;
   
}

.footer-container h2{
    color: #4E47FF;
    font-size: 100px;
    font-weight: bold;
    margin: 0px;
}

.footer-container p{
    margin: 8px 0px 15px 0px;
    color: #8987A1;
    font-size: 14px;
}

.footer-container ul{
    display: flex;
    justify-content: space-around;

}

.footer-container li{
    list-style: none;
}

.footer-container li a{
    color: #8987A1;
    text-decoration: none;

}

